<form> 
   <div><label for="Title"></label>
    <input type="text" name="Title" id="text" [(ngModel)]= "appModel.title">
   <label for="">Checked</label>
   <input type="checkbox" id="checkbox" [(ngModel)]="appModel.checkbox">
   <label for="">Category</label>
    <select name="categories" id="categories"  [(ngModel)]="appModel.categories">
      <option value="Kaja">Kaja</option>
      <option value="Pia">Pia</option>
      <option value="Nők">Nők</option>
    </select>
   <label for="">Text</label>
   <input type="text" id=text [(ngModel)]="appModel">
   </div>
   <button (click)= "showAppModelValue()">Show me what you got!</button>
</form>

